<section>
  <h1>Contact me</h1>
   <ul>

   <li> laavanye.bahl@gmail.com </li> 
   <li>
   <a href = "https://in.linkedin.com/in/laavanyebahl" ><img src = " /images/linkedin.png" border="0" style="border:none;"  /></a>
   <a href = "https://www.facebook.com/laavanye.bahl" ><img src = " /images/fb.png" border="0" style="border:none;"  /></a>
   <a href = "https://www.instagram.com/laavanyebahl" ><img src = " /images/insta.png" border="0" style="border:none;"  /></a>
   <a href = "https://twitter.com/LaavanyeBahl" ><img src = " /images/twi.png" border="0" style="border:none;"  /></a>
   </li>
   </ul>
  
</section>

